body
{
    background-color: rgb(13, 1, 18);
    color: green;
}

th 
{
    border: 1px solid;
    padding: 10px;
    text-align: center;
    background-color: blue;
}

td 
{
    border: 1px solid green;
    padding: 10px;
    text-align: center;
}
.green1
{
    background-color: rgb(145,255,172);
}
.green2
{
    background-color:  rgb(75,223,111);
}
.green3
{
    background-color: rgb(51,171,80);
}


table
{
    margin-top: 50px;
    
}
